<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Vítejte v naší autopůjčovně</title>
   <style>
    h2 {
        color: blue;
        font-size: 36px;
        font-style: italic;
    }
    body {
         font-size: 20px;
         }
    span {
        font-weight:bold;
        font-size: 22px;
        }

    table {
        text-align:center;
        }

    td {
        font-size: 18px;
        }

    </style>
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>